<p>
Digital literacy is critical for generating impactful and reproducible research. 
The JCU eResearch Centre encourages post-graduate students and researchers to expand their capacity with training like 
<a href="{{site.swc_site}}">Software Carpentry</a> which aims to help researchers get their work done by teaching 
them basic research computing skills. This hands-on 2-day workshop will introduce the UNIX Shell -- which provides access 
to powerful tools for data analysis and manipulation. Students will then learn to use the UNIX shell to connect to JCU's High Performance Research Computer.  
By the end of the course, students will know how to backup their research data to the HPC, as well as how to automate their workflows with shell scripts.  
Participants will be 
encouraged to help one another and to apply what they have learned to their own research problems.
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<hr>

