<div class="row">
  <div class="col-md-6">
    <h3>October 9th  -- Room 145.030</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Setting up and software installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to the UNIX shell</td> </tr>
      <tr> <td>10:30</td>  <td>Morning Tea</td> </tr>
      <tr> <td>11:00</td>  <td>Automating tasks with the UNIX shell</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>13:30</td>  <td>Connecting to the HPC</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Tea</td> </tr>
      <tr> <td>15:30</td>  <td>HPC Architecture</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-Up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>October 10th -- Room 134.130</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Setting up and software installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Interactive Jobs on  the HPC</td> </tr>
      <tr> <td>10:30</td>  <td>Morning Tea</td> </tr>
      <tr> <td>11:00</td>  <td>Writing shell scripts</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>13:30</td>  <td>Submitting Jobs to the HPC</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Tea</td> </tr>
      <tr> <td>15:30</td>  <td>HPC Best Practice & Security</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-Up</td> </tr>
    </table>
  </div>
</div>
